.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    -webkit-animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.main-page {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100;
}
.main-boundary {
  /* background-color: blue; */
  justify-content: center;
  width: 80%;
  height: 1500px;
}

.main-post {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  width: 96%;
  /* background-color: purple; */
}

.main-post-box {
  width: 100%;
  height: 50px;
}

.postcard-main {
  /* background-color: yellow; */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: #282c34;
  border-style: solid;
}

.pc-r1 {
  display: flex;
  flex-direction: row;
}

.pc-r2 {
  background: black;
  text-align: center;
  margin-top: 10px;
}

.pc-r3 {
  margin-top: 10px;
}

.pc-r1-rc {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pc-margin {
  margin: 5px 5px 5px 5px;
}
.pc-lm {
  width: 30%;
}
.pc-rm {
  width: 70%;
}
.pc-heading {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: row;
}
.pc-img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.pc-head-title {
  width: 70%;
}
.pc-icons {
  width: 30%;
  left: 0;
  height: auto;
  text-align: center;
  /* background-color: rebeccapurple; */
}
